<div class="hello-bg hello-bg--small">
  <svg width="100%" height="1280">
    <defs>
      <linearGradient id="paint1_linear" x1="619.277" y1="-51.1187" x2="-0.0260365" y2="883.428" gradientUnits="userSpaceOnUse">
        <stop stop-color="#378FF6"></stop>
        <stop offset="1" stop-color="#A276DB"></stop>
      </linearGradient>
    </defs>
    <mask id="mask-sm">
      <path d="M31.4998 149.5C-38.2114 41.2606 30.3246 -54.8654 49.4998 -93L687.355 -165C738.299 226.619 788.041 1031.59 579.452 1118.51C318.715 1227.17 129.8 893.364 80.1039 794.11C30.4074 694.856 86.2309 586.198 105.973 471.795C125.716 357.391 118.639 284.799 31.4998 149.5Z" fill="white"></path>
    </mask>
    <rect x1="0" width="100%" y1="0" height="1280" fill="url(#paint1_linear)" mask="url(#mask-sm)"></rect>
  </svg>
</div>
