.hello-bg.hello-bg--mobile
  <svg viewBox="0 0 600 600">
    <defs>
      <linearGradient id="paint3_linear" x1="435.581" y1="180.918" x2="78.3993" y2="137.565" gradientUnits="userSpaceOnUse">
        <stop stop-color="#378FF6"></stop>
        <stop offset="1" stop-color="#A276DB"></stop>
      </linearGradient>
    </defs>
    <mask id="mask-xs" width="1000" height="1280">
      <path d="M282.989 -48.6838C304.115 -84.9858 446.831 28.0952 460.226 30.61L515.513 264.864C411.682 325.773 152.319 359.086 99.3425 295.655C33.1215 216.368 101.822 113.537 123.131 85.2274C144.44 56.9177 180.96 65.5108 208.885 43.2998C236.821 21.0796 256.581 -3.3063 282.989 -48.6838Z" fill="white"></path>
    </mask>
    <rect x1="0" width="100%" y1="0" height="1280" fill="url(#paint3_linear)" mask="url(#mask-xs)"></rect>
  </svg>
