include ../mixin/format.card.mixin.pug

.screen#price(data-screen="price")
  .container
    .offset
    .content
      h2.h2.screen__title Форматы и стоимость
      .price-list
        each format in formats
          +formatCard(format)
      p.large.price-info Мы открыты к диалогу в рамках уникальных пожеланий и любых вопросов.&nbsp;
        br
        |Пишите на #[a(href="mailto:user@mail.ru") user@mail.ru] и мы договоримся!
