<section class="screen" id="suggestions" data-screen="suggestions">
  <div class="container">
    <div class="offset"></div>
    <div class="content">
      <div class="suggestions-count">
        <h2 class="h2 screen__title">Мы предлагаем</h2>
        <div class="suggestions-list">
          each suggestion, index in suggestions

            <div class="suggestion">
              <div class="suggestion__title">#{suggestion.title} !{blots[index]}</div>
              <div class="suggestion__text text">!{suggestion.text}</div>
            </div>

        </div>
        <div class="suggestions-info">
          <p class="large">Любой слой IT бизнеса, сервисов и брендов, чьи интересы совпадают с аудиторий Proglib, найдёт своих читателей и поклонников!</p>
        </div>
      </div>
    </div>
  </div>
</section>
