
section.screen#suggestions(data-screen="suggestions")
  .container
    .offset
    .content
      .suggestions-count
        h2.h2.screen__title Мы предлагаем
        .suggestions-list
          each suggestion, index in suggestions
            .suggestion

              .suggestion__title #{suggestion.title} !{blots[index]}
              .suggestion__text.text !{suggestion.text}

        .suggestions-info
          p.large Любой слой IT бизнеса, сервисов и брендов, чьи интересы совпадают с аудиторий Proglib, найдёт своих читателей и поклонников!
