@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic');

@font-face {
  font-family: 'Futura Md BT';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Md BT'), local('Futura Md BT Medium'),
    url('../fonts/FuturaMD/FuturaMdBt.woff') format('woff'),
    url('../fonts/FuturaMD/FuturaMdBt.otf') format('opentype');
}
