
.scroller {
  position: fixed;
  z-index: 30;
  cursor: pointer;
  bottom: 50px;
  left: 100% * 2 / 12;

  body[data-screen="order"] & {
    display: none;
  }
}

@include bp(xLargeTop) {
  .scroller {
    left: 120px;
  }
}

@include bp(mediumBottom) {
  .scroller {
    display: none;
  }
}
