include ../mixin/stat.item.mixin.pug

.flex.flex-wrap.stats.stats--general
  each item in audience.common
    +statItem(item)


.statistics-info
  p.text Proglib - экосистема для начинающих и опытных разработчиков, что бы обмениваться опытом и информацией полезной для обучения. Мы публикуем пошаговые туториалы, рецензии на лучшие новые и классические старые книги, обзоры лучших видеоколлекций и видеоуроков.
  p.text Наша миссия - научить людей разработке, максимально упростив процесс обучения и оказать первую помощь при выборе траектории в IT.
